*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.nav-primary{
    height: 100px;
    background-color: #ADD8E5;
    display: flex;
    align-items: center;
    

}
.navigazione{
    display: flex;
    width: 1200px;
    margin: auto;
   
}
.bor{
    background-color: orange;
    border: 1px dashed;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 25%;
    
}
li{
    list-style-type: none;
}
.flex-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.link{
    width: 50%;

}
.login{
    width: 25%;  

}
.head{
    background-color: blue;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.rose{
    border:  1px dashed; 
    height: 300px;
    width: 50%;
    margin: auto;
    background-color: #EE82EE;


}
.box{
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-basis: 800px;
    align-items: center;
    
    
}
.gray{
    background-color: lightgray;
    flex-direction: row-reverse;
    
    
}
.last{
    min-height: 800px;
    background-color: lightgray;
}
.big-box{
    border: 1px dashed;
    height: 300px;
    width: 60%;
    background-color: #1D90FF;
}
.small-box{
    border: 1px dashed;
    height: 300px;
    width: 40%;
    background-color: #EE82EE;
}
.last-box{
    border:  1px dashed; 
    height: 700px;
    width: 60%;
    margin: auto;
    background-color: green;
}
.black{
    background-color: #23272A;
}
.colonne{
    display: flex;
    min-height: 600px;
    padding-top:  10px;
    padding-bottom: 30px;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;

}
.rettangolo{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.colonna-grande{
    border:  1px dashed; 
    height: 600px;
    width: 30%;
    background-color: red;
}
.colonne-piccole{
    display: flex;
    border:  1px dashed; 
    height: 600px;
    width: 70%;
    background-color: #1D90FF;
}
.colonnine{
    min-width: 25%;  
    border:  1px dashed; 
}
.footer-rt{
    width: 1200px;
    height: 80px;
    display: flex;
    background-color: #76EEC5;
    justify-content: space-between;
    align-items: center;
    

}
.br{
    border:  1px dashed; 
    background-color: red;
    padding: 5px;


}